*{
    margin: 0%;
}
header{
    border: 3px solid crimson;
    display: flex;
    flex-wrap: wrap;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: chartreuse;
}
.imagen_logo{
    height: 80px;
    width: 80px;
    margin-right: 20px;
}
.lista_enlaces{
    border: 3px solid blue;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0%;
}
.lista_enlaces_ul{
    text-decoration: none;
}
a{
    text-decoration: none;
}
nav{
    background-color:rgb(255, 199, 56) ;
}
footer{
    background-color: darkslategray;
    padding: 20px;
    font-style: italic;
}
.imagen_ilustracion{
    width: 170px;
    height: 170px;
}
.promocion_juegos{
    width: 100px;
    height: 100px;

}
.parte_rosa{
    width: 80%;
}
.aside{
    width: 20%;
}
.contenedor_iamgenes{
    width: 40%;
}
.contenedor_texto_2{
    width: 60%;
}